
body {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

a, a:link, a:visited {
    color: #0B67B2;
    text-decoration: none;
}

a:hover {
     color: #0B4D86;
     text-decoration: underline;
}

a:active {
    color: #B30A0A;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul li, ol li {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

ul li ul, ol li ol {
     margin-left: 20px;
}


table {
     border-collapse: collapse;
     margin: 5px 0pt;
     width: 100%;
}

table td {
     border-bottom: 1px solid #C6C6C2;
     color: #767672;
     font-size: 0.9em;
     padding: 3px;
     vertical-align: top;
}

table td:after {
     border-bottom: 1px solid #FFFFFF;
     content: "";
     display: block;
     position: relative;
     top: 5px;
}

p {
     margin: 0 0 1.5em;
}

li p, td p {
     display: inline;
}


pre {
     background: none repeat scroll 0% 0% #FFFFFF;
     border-color: #C6C6C2;
     border-style: solid;
     border-width: 1px 1px 1px 5px;
     color: #767672;
     margin: 5px 0;
     padding: 3px;
}

.button, input[type=submit] {
  background: #B30A0A;
  border:0;
  text-align:center;
  color:white;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  text-shadow: 0 1px 0 #777777;
  margin:5px 0;
  padding:2px 5px;
}
.button {float:left}

input#entry {
     float: left;
     margin: 5px;
     padding: 3px;
     width: 450px;
}
/***Header***/
#header {
     margin: 0;
     padding: 10px;
     position: relative;
     text-align: left;
}

#logo {
     background: url("/resources/opa-logo.png") no-repeat scroll 0 0 transparent;
     height: 41px;
     margin: 5px 0 15px;
     width: 100px;
}

#page_header {
     text-align: center;
}

#page_wrap {
 width: 90%;
 margin: auto;
 padding: 0;
}

#page_content {
     margin: 0px;
     padding: 20px;
 display: block;
 margin-left: 250px;
 border-color: #E8EEFF;
 border-width: 3px;
 border-top-style:solid;
 border-right-style:solid;
}

#page_sidebar {
 margin: 0;
 padding: 10px;
 display: block;
 float: left;
 width: 200px;
 text-align: left;
 border-color: #E8EEFF;
 border-width: 3px;
 border-top-style:solid;
 border-right-style:solid;
}


#page_footer {
    text-align: center;
    clear: both;
    display: block;
    margin-top: 50px;
    background-color: #FFF;
}

#toolbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    text-align: right;
}

#toolbar {
    float: right;
    clear: both;
}
